@using Contacts.Models;
@model ContactViewModel

<div>
    <form method="post">
        @Html.HiddenFor(x=>x.Id)
        <div>
            Name: @Html.TextBoxFor(x=>x.Name)
        </div>
        <div>
            Mobile phone: @Html.TextBoxFor(x=>x.MobilePhone)
        </div>
        <div>
            Birtday: @Html.TextBoxFor(x=>x.BirthDate)
        </div>
        <div>
            Job title: @Html.TextBoxFor(x=>x.JobTitle)
        </div>
        <div>
            <input type="submit" value="Update" />
        </div>
    </form>
</div>

